.winMessage {
    margin: 0 auto;
    padding: 15px;
    font-weight: 800;
    color: green;
}

.duplicateMessage {
    margin: 0 auto;
    padding: 15px;
    font-weight: 800;
    color: rgb(243, 163, 14);
}

.loseMessage {
    margin: 0 auto;
    padding: 15px;
    font-weight: 800;
    color: red;
}

